.friendlist {
  max-width: 650px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.friendlist li {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #020202;
  text-align: center;
}
