.transactionHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  margin: 20px auto;
  border: 1px solid #000000;
  overflow: hidden;
}
.thead {
  width: 100%;
  background-color: #292929;
  color: white;
}
.tbody {
  width: 100%;
}
.tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.th {
  flex-basis: calc(100% / 3);
}
.td {
  text-align: center;
  flex-basis: calc(100% / 3);
  border: 1px solid #000000;
}
.tr:nth-child(2n) {
  background-color: #bababa;
}
